@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";
@import "icons";
@import "icofont";

//сбрасываю дефольные стили:
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body {
  font-family: "Raleway";
  width: 1600px;
  margin: 0 auto;
}

.all-buttons:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.all-buttons:active {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}

// HEADER======================================================================

.header {
  height: 750px;
  background-image: linear-gradient(-53deg, rgba(0, 184, 212, 0.9) 0%, rgba(29, 233, 182, 0.9) 100%),
    url("../img/header-background-img.png");
}

.header-top {
  height: 30px;
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-left: 80px;
}

.logo {
  display: flex;
  align-items: center;
  &__img {
    margin-right: 10px;
    &:hover {
      color: #061e37;
    }
  }
  &__link {
    display: flex;
    text-decoration: none;
  }
  &__text-top {
    display: block;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
  }
  &__text-bottom {
    display: block;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
  }
}

.navigation {
  margin-left: 320px;
  &__lists {
    display: flex;
    list-style-type: none;
  }
  &__link-top {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 50px;
    &:hover {
      color: #061e37;
      text-decoration: underline;
    }
  }
  &__link--no-margin {
    margin-right: 0px;
  }
}

.button-sign-up {
  padding: 6px 21px 6px 19px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  border-radius: 2px;
  border: 1px solid #ffffff;
  text-decoration: none;
  &:hover {
    color: #061e37;
    border: 1px solid #061e37;
  }
}
.button-sign-up-wrapper {
  margin-left: 419px;
}

.header-bottom {
  margin-top: 169px;
  margin-left: 79px;
  display: flex;
}
.banner {
  width: 580px;
  height: 316px;
  &__heading {
    color: #ffffff;
    font-size: 55px;
    font-weight: bold;
    line-height: 65px;
    text-transform: uppercase;
  }
  &__text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
  }
  &__buttons {
    display: flex;
    margin-top: 38px;
  }
  &__button-buy-now {
    margin-right: 30px;
  }
}

.button {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button--deep-blue {
  background-color: #061e37;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  width: 150px;
  height: 55px;
}
.button--white {
  background-color: #ffffff;
  color: #061e37;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  width: 160px;
  height: 55px;
}

.video {
  margin-left: 261px;
  width: 600px;
  height: 320px;
  background-image: linear-gradient(-53deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%),
    url("../img/video.jpg");
  border-radius: 5px;
  border: 1px solid #061e37;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  &__play-icon-wrapper {
    margin-top: 115px;
    margin-left: 270px;
    width: 60px;
    height: 60px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #061e37;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__play-text {
    margin-top: 22px;
    margin-left: 245px;
    color: #061e37;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

// ADVANTAGES (1 section)========================================================

.easy-and-useful {
  display: flex;
  align-items: center;
  flex-direction: column;
  &__heading-1-lvl-wrapper {
    margin-top: 99px;
  }

  &__heading-2-lvl-wrapper {
    margin-top: 14px;
  }

  &__paragraph-wrapper {
    width: 555px;
    height: 61px;
    margin-top: 20px;
    text-align: center;
  }
}

.heading-1-lvl {
  color: #061e37;
  font-size: 45px;
  font-weight: 600;
}
.heading-2-lvl {
  color: #b0bec5;
  font-size: 25px;
  font-weight: 400;
}
.paragraph {
  color: #b0bec5;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.tools {
  display: flex;
  justify-content: center;
  margin-top: 97px;
}
.tool-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 344px;
  margin-right: 201px;

  &__icon-wrapper {
    margin-bottom: 45px;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__paragraph {
    text-align: center;
  }
}
.tool-item.tool-item--last {
  margin-right: 0px;
}

.tools__button-wrapper {
  margin-top: 78px;
  display: flex;
  justify-content: center;
}
.button-get {
  background-color: #1de9b6;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  width: 150px;
  height: 55px;
}

//INFO AND STATS (2 section)============================

.info-and-stats {
  display: flex;
  margin-top: 100px;
}
.stat-item {
  width: 25%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.76);
    cursor: pointer;
  }
  &__content {
    display: flex;
    align-items: center;
  }

  &__icon-wrapper {
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    margin-left: 23px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
  }
}
.stat-item--light-blue {
  background-color: #80d8ff;
}
.stat-item--blue {
  background-color: #82b1ff;
}
.stat-item--light-purple {
  background-color: #b388ff;
}
.stat-item--light-pink {
  background-color: #ea80fc;
}

//SERVICES (3 section)==============================

.services {
  margin-top: 48px;
}
.services-wrapper {
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.services__header {
  margin-bottom: 29px;
  text-align: center;
  position: relative;
}
.services__paragraph {
  text-align: center;
  margin-bottom: 48px;
}
.services-statistics {
  width: 800px;
  height: 240px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
  &:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  &__header {
    height: 50px;
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }

  &__icon-left-wrapper {
    margin-left: 25px;
  }

  &__box-heading {
    margin-left: 25px;
    color: #061e37;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__icon-right-wrapper {
    margin-left: 764px;
    position: absolute;
  }

  &__img {
    float: left;
    margin: 0 25px 0 25px;
  }

  &__paragraph-top {
    display: block;
    color: #061e37;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.45px;
    margin-bottom: 30px;
  }
  &__paragraph-bottom {
    color: #061e37;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.45px;
  }
}

.services-item {
  display: flex;
  align-items: center;
  height: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 20px;
  position: relative;
  &:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.397);
    border-radius: 5px;
    cursor: pointer;
  }
  &__icon-left-wrapper {
    margin-left: 25px;
  }

  &__box-heading {
    color: #061e37;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 24px;
  }

  &__icon-right-wrapper {
    margin-left: 764px;
    position: absolute;
  }
}

//REVIEWS (4 section)=================================

.reviews {
  margin-top: 100px;
  display: flex;
  height: 564px;
  background-image: linear-gradient(-53deg, rgba(0, 184, 212, 0.9) 0%, rgba(29, 233, 182, 0.9) 100%),
    url("../img/reviews-background.jpg");
}

.left-block {
  width: 515px;
  margin: 134px 165px 0 80px;
  &__heading {
    color: #ffffff;
    font-size: 45px;
    font-weight: 400;
    width: 441px;
    margin-bottom: 19px;
  }
  &__text {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
  }
  &__button-wrapper {
    margin-top: 78px;
  }
  &__button-get {
    background-color: #061e37;
  }
}
.right-block {
  display: flex;
  flex-direction: column;
  &__arrow-up-wrapper {
    height: 87px;
    display: flex;
    align-items: center;
    margin-left: 424px;
  }

  &__review-box {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
  }

  &__review-box--last {
    margin-bottom: 0px;
  }

  &__user-photo-wrapper {
    margin-right: 50px;
    &:hover {
      cursor: pointer;
    }
  }

  &__review-text-block {
    width: 650px;
    height: 160px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #ffffff;
  }

  &__reviewer-name-wrapper {
    margin: 32px 0px 0px 30px;
  }

  &__review-text-wrapper {
    margin: 20px 0px 0px 31px;
  }

  &__review-text {
    color: #78909c;
  }

  &__arrow-down-wrapper {
    height: 87px;
    display: flex;
    align-items: center;
    margin-left: 424px;
  }
}

.all-name {
  color: #061e37;
  font-size: 18px;
  font-weight: 700;
  height: 14px;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

//TEAM (section 5) ==========================

.team {
  display: flex;
  align-items: center;
  flex-direction: column;
  &__heading {
    text-align: center;
    margin-top: 100px;
  }

  &__text {
    text-align: center;
    margin-top: 29px;
  }

  &__teamates-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 78px;
  }

  &__teamate-photo {
    margin-right: 50px;
    &:hover {
      cursor: pointer;
    }
  }

  &__teamate-photo-box-shadow {
    width: 160px;
    height: 160px;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5), inset 0 0 13px 5px rgba(0, 0, 0, 0.69);
    border: 20px solid #ffffff;
    border-radius: 50%;
  }

  &__teamate-photo--focus {
    height: 160px;
    width: 160px;
    position: relative;
    z-index: -2;
  }

  &__teamate-photo--last {
    margin-right: 0px;
  }

  &__teamate-name {
    text-align: center;
    margin-top: 40px;
  }

  &__teamate-about-wrapper {
    width: 645px;
    height: 64px;
    margin-top: 20px;
  }

  &__teamate-about {
    color: #90a4ae;
    text-align: center;
  }

  &__socials {
    margin-top: 29px;
  }
}
.socials {
  width: 200px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  &__link {
    text-decoration: none;
  }
}

//CONTACTS (section 6)=======================

.contacts {
  width: 1600px;
  height: 660px;
  background-color: #fafafa;
  margin-top: 89px;
  &__heading {
    text-align: center;
    padding-top: 49px;
  }

  &__text-wrapper {
    padding-top: 29px;
    width: 555px;
    height: 39px;
    margin: 0 auto;
  }

  &__text {
    text-align: center;
    color: #061e37;
  }

  &__form-wrapper {
    width: 600px;
    height: 290px;
    margin: 0 auto;
    padding-top: 68px;
  }
}

.form {
  &__fieldset {
    border: none;
    font-size: 0px;
  }

  &__input-text {
    width: 256px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #061e37;
    color: #061e37;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-left: 20px;
    &:nth-child(2n + 2) {
      margin-left: 40px;
    }
    &:focus {
      outline: none;
    }
  }

  &__input-text--large {
    width: 577px;
    height: 130px;
    padding-top: 20px;
    resize: none;
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__checkbox-wrapper {
    display: flex;
    align-items: center;
  }

  &__checkbox-text {
    display: block;
    width: 193px;
    color: #061e37;
    font-size: 15px;
    font-weight: 500;
    margin-left: 9px;
  }

  &__button-wrapper {
    margin-left: 249px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #1de9b6;
    text-decoration: none;
  }
}

//FOOTER===================================
.footer {
  height: 300px;
  background-color: #061e37;
  display: flex;
  flex-direction: column;
  &__top {
    display: flex;
    justify-content: space-between;
  }

  .logo__img-no-hover {
    margin-right: 10px;
  }

  &__logo-wrapper {
    margin: 96px 0 0 80px;
  }

  &__navigation {
    margin: 105px 80px 0 0;
  }

  .navigation__link-bottom {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 50px;
    &:hover {
      text-decoration: underline;
    }
  }
  .navigation__link--no-margin {
    margin-right: 0px;
  }
  &__bot {
    display: flex;
    margin-left: 80px;
    margin-top: 54px;
  }

  &__about {
    display: flex;
  }

  &__about-list {
    color: white;
    margin-left: 33px;
    &--first {
      list-style-type: none;
      margin: 0;
    }
  }

  &__about-link {
    opacity: 0.5;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &__socials {
    margin-left: 955px;
  }
}
